rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Reglas para los contratos
    // Permite a un usuario autenticado leer, escribir y eliminar archivos
    // únicamente dentro de una carpeta que coincida con su ID de usuario.
    match /contracts/{userId}/{fileName} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas TEMPORALES para los comprobantes de pago
    // Permite a CUALQUIER usuario autenticado escribir y leer un comprobante.
    // ¡ADVERTENCIA! ESTA ES UNA REGLA MUY PERMISIVA Y DEBE SER CAMBIADA INMEDIATAMENTE
    // DESPUÉS DE LA DEPURACIÓN POR UNA SOLUCIÓN MÁS SEGURA.
    match /payment_receipts/{contractId}/{fileName} {
      allow write, read: if request.auth != null; 
    }
  }
}
